<%- title "Edit Contract" %>
<%- back_link_url client_building_path(@client,@building) %>
<%- page_title "Janitek | Edit Contract" %>

<%= form_for([:contract,@client,@building,@contract], :url=>client_building_contract_path(@client,@building,@contract)) do |f| %>
  <% if @contract.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contract.errors.count, "error") %> prohibited this contract from being saved:</h2>

      <ul>
      <% @contract.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, class:"form-control"  %>
  </div>

  <div class="form-group">
    <%= f.submit class:"btn btn-primary" %>
    <%= link_to 'Cancel', client_building_path(@client,@building), class:'btn btn-danger' %>
  </div>
<% end %>



