<%- title "New Contract" %>
<%- back_link_url client_path(@client) %>
<%- page_title "Janitek | New Contract" %>

<%= form_for([:contract,@client,@contract], :url=>client_contracts_path(@client)) do |f| %>
  <% if @contract.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contract.errors.count, "error") %> prohibited this contract from being saved:</h2>

      <ul>
      <% @contract.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>Please note that you may use either the url or the file upload fields.  Using both at once is not recommended.

  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url, class:"form-control"  %>
  </div>

  <div class="field">
    <%= f.label :s3, "File Upload" %><br />
    <%= f.file_field :s3, class:"form-control"  %>
  </div>

  <div class="form-group">
    <%= f.submit class:"btn btn-primary" %>
    <%= link_to 'Cancel', client_path(@client), class:'btn btn-danger' %>
  </div>
<% end %>



