<%- title "Janitek Client Connect: Contract" %>
<%- page_title "Janitek | Contract" %>
<%- page_class "page-contract" %>
<%- back_link_url ((current_user.is_a? Staff) ? client_building_path(@client, @building) : root_path) %>

<div class='row business-profile-full' id='client_root'>
  <div class='col-md-4' id="client-col-left">
    <%=render 'root/clientlead' %>
  </div>
  <div class='col-md-8' id="client-col-right">
    <div class='widget' id=''>
      <div class='widget-header'>
        <div class='widget-icon'>
          <img src="<%= asset_path('icons/icon-service-contract.png') %>">
        </div><div class='widget-title'>
          Contract (<%= @contract.title %>) for <%= @client.name %>, entered on <%= @contract.created_at.strftime("%b %d, %Y") %> (<%= link_to 'View', @contract.url_to_use, :target=>'_blank'%>)
        </div>
      </div>
      <div class='widget-content'>
        <div class="embed-responsive embed-responsive-4by3">
          <iframe class="embed-responsive-item" src="<%= @contract.url_to_use %>"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>