
  <% if @staff.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@staff.errors.count, "error") %> prohibited this staff from being saved:</h2>

      <ul>
      <% @staff.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :email %><br>
    <%= f.text_field :email, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name, class:"form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class:"form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :office %><br>
    <%= f.text_field :office, class:"form-control" %>
  </div>
    
  <div class="form-group">
    <%= f.label :cell %><br>
    <%= f.text_field :cell, class:"form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :admin %>
    <div class="text-left">
    <%= f.check_box :admin, class:"form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label "Picture" %><br />
    <%= f.file_field :avatar, class:"form-control" %>
  </div>


  <div class="form-group">
    <%= f.label "Additional Notes" %><br />
    <%= f.text_area :description, class:"form-control" %>
  </div>

  <% if @staff.persisted? && current_user==@staff %>
  <div class="form-group">
    <%= f.label :current_password %><br>
    <%= f.password_field :current_password, class:"form-control" %>
  </div>
  <% end %>

  <% if !@staff.persisted? || current_user==@staff || current_user.admin %>
  <div class="form-group">
    <%= f.label :password %><br>
    <%= f.password_field :password, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation, class:"form-control" %>
  </div>
  <% end %>

  <div class="form-group">
    <%= f.submit class:'btn btn-primary' %>
    <% if @staff.persisted? %>
      <%= link_to "Cancel", [@staff], class:'btn btn-danger' %>
    <% else %>
      <%= link_to "Cancel", staff_index_path, class:'btn btn-danger' %>
    <% end %>
  </div>
