<%- title "Staff" %>
<%- page_title "Janitek | Staff" %>

<%= form_tag(staff_index_path, class:"form-inline", method: :get) do %>
  <div class="form-group">
    <%= label_tag(:by_name, "Staff Name", class:"sr-only") %>
    <%= text_field_tag('by_name', @name, class:'form-control') %>
  </div>
  <div class='form-group'>
    <%= submit_tag 'Search', class:'btn-info btn' %>
  </div>
<% end %>

<div class='pagination-div'>
  <div class="page_info">
    <%= page_entries_info @posts %>
  </div>
  <%= will_paginate @staff %>
</div>
<div id="client-index-list">
  <% for idx in (1..@staff.size) %>
    <% if idx%4==1 %>
      <div class='row'>
    <% end %>
      <div class='col-md-3'><%= link_to @staff[idx-1].full_name, @staff[idx-1] %></div>
    <% if idx%4==0 %>
      </div>
    <% end %>
  <% end %>
</div>

<br>

<%= link_to 'Add Staff', new_staff_path, class:'btn btn-success' %>
