<%- title "Staff" %>
<%- back_link_url root_path %>
<%- page_title "Janitek | Staff" %>

<% content_for :search do %>
  <%= form_tag(staff_index_path, class:"form-inline", method: :get) do %>
    <div class="form-group">
      <%= label_tag(:by_name, "Staff Name", class:"sr-only") %>
      <%= text_field_tag('by_name', @name, class:'form-control') %>
    </div>
    <div class='form-group'>
      <%= submit_tag 'Search', class:'btn-info btn' %>
    </div>
  <% end %>
<% end %>


<div id='add-item-control'>
  <%= link_to 'Add Staff', new_staff_path, class:'btn btn-success' %>
</div>

<div id="client-index-list">
  <% for idx in (1..@staff.size) %>
    <% if idx%4==1 %>
      <div class='row'>
    <% end %>
      <div class='col-md-3'>
        <div class='list-button'>
          <%= link_to @staff[idx-1].full_name, @staff[idx-1] %>
        </div>
      </div>
    <% if idx%4==0 %>
      </div>
    <% end %>
  <% end %>
</div> <!-- Errand /div-->


<div class='pagination-div'>
  <div class="page_info">
    <%= page_entries_info @posts %>
  </div>
  <%= will_paginate @staff %>
</div>