<div class='user_profile'>
  <div>
    <% if @staff.avatar.file? %>
    <%= image_tag @staff.avatar.url(:profile), :class=>'profile_image' %>
    <% end %>
  </div>
  <div>
    <h1><%= @staff.full_name %> </h1>
  </div>
  <div>
    <h3><%= @staff.email %> </h3>
  </div>
  <div>
    <%= markdown(@staff.description).html_safe if @staff.description%>
  </div>
</div>

<%= link_to 'Edit', edit_staff_path(@staff) %> |
<%= link_to 'Back', staff_index_path %>
