<h1>Edit Service Request Form</h1>

<%= form_tag(service_request_edit_path, method: :put) do -%>
  <% if @service_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service_request.errors.count, "error") %> prohibited this form from being saved:</h2>

      <ul>
      <% @service_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<ol id='EditServiceRequestFormItems' class="service-request-edit-list">
  <% (0..@service_request.fields.count-1).each do |index| %>
    <% item = @service_request.fields[index] %>
    <li data-form-number='<%= index+1 %>'>
      <div class="form-wrapper">
        <input type='text' id='field-title-<%= index+1 %>' name='service_item_title[<%= index+1 %>]' placeholder='Title' class='item_title_input' value='<%= item['title']%>'><div class="field-type-wrapper">
          <label for='field-type-<%= index+1 %>'>Field Type</label>
          <select id='field-type-<%= index+1 %>' name='service_item_type[<%= index+1 %>]'>"
            <option value='shortText' <%= item['type'] == 'shortText' ? 'selected' : 0 %>>Short Text</option>
            <option value='longText' <%= item['type'] == 'longText' ? 'selected' : 0 %>>Long Text</option>"
            <option value='checkbox' <%= item['type'] == 'checkbox' ? 'selected' : 0 %>>Checkbox</option>"
          </select> <!-- <br> -->
        </div>
        <!-- <input id='field-required-<%= index+1 %>' type='checkbox' name='service_item_required[<%= index+1 %>]' <%= item['required'] ? 'checked' : '' %>>
         <label for='field-required-<%= index+1 %>'>Field Required</label> -->
      </div>
    </li>
  <% end %>
</ol>

<script>
  $(function() {
    $('.service-request-edit-list').find('li').last().find('input').focus();
  });
</script>

  <div class="form-group">
    <%= submit_tag "Save",  class:"btn btn-primary"  %>
  </div>
<% end %>
