<%- title "Janitek Client Connect: Service Request" %>
<%- page_title "Janitek | Contract" %>

<div class='row business-profile-full' id='client_root'>
  <div class='col-md-4' id="client-col-left">
    <%=render 'root/clientlead' %>
  </div>
  <div class='col-md-8' id="client-col-right">
    <div class='widget' id=''>
      <div class='widget-header'>
        <div class='widget-icon'>
          <img src="<%= asset_path('icons/icon-service-request.png') %>">
        </div><div class='widget-title'>
          Submit a Service Request
        </div>
      </div>
      <div class='widget-content service-request-widget'>
        <%= form_tag(service_request_path, method: :post) do -%>
          <%= hidden_field_tag("form_version",@service_request.version_number) %>
          <% (0..@service_request.fields.count-1).each do |index| %>
            <% field = @service_request.fields[index] %>
            <div class='form-group'>
              <label for='formField[<%= index %>]'><%= field['title'] %></label>
              <% if field['type'] == 'shortText' %>
                <input type='text' id='formField[<%= index %>]' name='formField[<%= index %>]'>
              <% elsif field['type'] == 'longText' %>
                <textarea id='formField[<%= index %>]' name='formField[<%= index %>]'></textarea>
              <% elsif field['type'] == 'checkbox' %>
                <input type='checkbox' id='formField[<%= index %>]' name='formField[<%= index %>]'>
              <% end %>
            </div>
          <% end %>
        
          <div class="form-group submit-wrapper">
            <button name="commit" type="submit" value="Submit">
              <div class='widget' id='submit-request-button'>
                <div class='widget-header'>
                  <div class='widget-icon'>
                    <img src="<%= asset_path('icons/icon-service-request.png') %>">
                  </div><div class='widget-title'>
                    Submit
                  </div>
                </div>
              </div>
            </button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>