<h1>Service Request Form</h1>

<%= form_tag(service_request_path, method: :post) do -%>
  <% @service_request.fields.each_index do |index| %>
    <div class="form-group">
      <label for="field<%= index %>"><%= @service_request.fields[index] %></label><br>
      <input id="field<%= index %>" type='text' name='service_items[]' value='' class='form-control'></li>
    </div>
  <% end %>

  <div class="form-group">
    <%= submit_tag "Submit",  class:"btn btn-primary"  %>
  </div>
<% end %>
