<%- title "Edit Schedule" %>
<%- back_link_url client_building_path(@client,@building) %>
<%- page_title "Janitek | Edit Schedule" %>

<%= form_for([:schedule,@client,@schedule], :url=>client_building_schedule_path(@client, @building, @schedule)) do |f| %>
  <% if @schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% @schedule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, class:"form-control"  %>
  </div>

  <div class="form-group">
    <%= f.submit class:"btn btn-primary" %>
    <%= link_to 'Cancel', client_building_path(@client,@building), class:'btn btn-danger' %>
  </div>
<% end %>
