<%- title "Janitek Client Connect" %>
<%- page_title "Janitek | Business Profile" %>

<div class='row business-profile-full' id='client_root'>
  <div class='col-md-4' id="client-col-left">
    <%=render 'root/clientlead' %>
  </div>
  <div class='col-md-8' id="client-col-right">
    <div class='widget' id=''>
      <div class='widget-header'>
        <div class='widget-icon'>
          <img src="<%= asset_path('icons/icon-business-card.png') %>">
        </div><div class='widget-title'>
          My Business Profile
        </div>
      </div>
      <div class='widget-content'>
        <div class="row">
          <div class="col-md-6">
            <div class="greybox">
              <div class="inside">
                <div class="business-name"><%= @client.name %></div>
                <div class="business-contact-details">
                  <div class="contact-name">
                    <%= @client.contact %>
                  </div>
                  <% if @client.contacttitle %>
                  <div class="contact-title">
                    <%= @client.contacttitle %>
                  </div>
                  <% end %>
                </div>
                <div class="profile-details">
                  <div class="main-office-number phone-number">
                    <span>Main Office Number</span>
                    <div><%= @client.number %></div>
                  </div>
                  <div class="direct-number phone-number">
                    <span>Direct Number: </span>
                    <div><%= @client.directnumber %></div>
                  </div>
                  
                  <div class="email business-email">
                    <a href="mailto:<%= @client.email %>"><%= @client.email %></a>
                  </div>
                  
                  <div class="address-wrapper">
                    <div class="street1">
                      <%= @client.street1 %>
                    </div>
                    <% if @client.street2 %>
                    <div class="street2">
                      <%= @client.street2 %>
                    </div>
                    <% end %>
                    <div class="city-state-zip">
                      <span class="city"><%= @client.city %></span>
                      <% if @client.state %>
                      , <span class="state"><%= @client.state %></span>
                      <% end %>
                      <span class="zip-code"><%= @client.zip %></span>
                    </div>
                  </div>
                  
                  <div class="business-additional-notes">
                    <div>Additional Notes:</div>
                    <%= simple_format(@client.notes) %>
                  </div>
                </div>
              </div> <!-- /.inside -->
            </div>
          </div>
          <div class="col-md-6">
            <div class="member-image-wrapper">
            <% if @client.logo.file? %>
              <%= image_tag @client.logo.url(:profile) %>
            <% else %>
              <div class="no-image"></div>
            <% end %>
            </div>
            <div class="edit-client-button-wrapper">
              <%= link_to(edit_client_path(@client)) do %>
              <div class='widget' id='edit-client-button'>
                <div class='widget-header'>
                  <div class='widget-icon'>
                    <img src="<%= asset_path('icons/icon-edit.png') %>">
                  </div><div class='widget-title'>
                    Edit
                  </div>
                </div>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  
  <!--
  
  <div class='row client-links-wrapper'>
      <div class='col-md-4 list-element'>
        <div class="list-element-inside">
          <h3>Contracts</h3>
          <div class="col-button-wrapper">
            <% if policy(Contract).create? %>
              <%= link_to 'Add New', new_client_contract_path(@client), class:'btn btn-primary btn-xs' %>
            <% end %>
          </div>
          <ul class="list-wrapper">
          <% @contracts.each do |contract| %>
            <li>
              <%= link_to contract.created_at.strftime("%b %d, %Y"),client_contract_path(@client, contract), class: 'btn btn-default' %>
            </li>
          <% end %>
          </ul>
        </div>
      </div>
    
      <div class='col-md-4 list-element'>
        <div class="list-element-inside">
          <h3>Scope of Work</h3>
          <div class="col-button-wrapper">
            <% if policy(Schedule).create? %>
              <%= link_to 'Add New', new_client_schedule_path(@client), class:'btn btn-primary btn-xs' %>
            <% end %>
          </div>
          <ul class="list-wrapper">
          <% @schedules.each do |contract| %>
            <li>
              <%= link_to contract.created_at.strftime("%b %d, %Y"),contract.url_to_use, :target=>'_blank', class: 'btn btn-default' %>
            </li>
          <% end %>
          </ul>
        </div>
      </div>
      
      <div class='col-md-4 list-element'>
        <div class="list-element-inside">
          <h3>Hot Button List</h3>
          <div class="col-button-wrapper">
            <%= link_to 'Edit', client_edit_hotbutton_path(@client), class:'btn btn-primary btn-xs' %>
          </div>
          <ol class="list-wrapper">
            <% @client.hot_button_items.each do |item| %>
              <li>
                <%= item %>
              </li>
            <% end %>
          </ol>
        </div>
      </div>
    </div>
    <% if policy(Member).update? %>
      <h2 class="member-title">Members</h2>
      <div class='row member-list'>
        <% @client.members.each do |member| %>
          <div class="col-md-3">
            <div class="inside">
              <%= link_to member.full_name, client_member_path(@client,member), class:'btn btn-primary' %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="row new-member-wrapper">
        <div class="col-md-4">
          <%= link_to 'Add New', new_client_member_path(@client), class:'btn btn-success'  %>
        </div>
      </div>
    <% end %>
  
  -->