<h1>Clients</h1>

<%= form_tag(clients_path, method: :get) do %>
  <div class="field">
    <%= text_field_tag('name', @name) %>
    <%= submit_tag 'Search' %>
  </div>
<% end %>

<div class='pagination'>
  <div class="page_info">
    <%= page_entries_info @posts %>
  </div>
  <%= will_paginate @clients %>
</div>

<ul id='client_index_list'>
  <% @clients.each do |client| %>
    <li><%= link_to client.name, client %>
  <% end %>
</ul>

<br>

<%= link_to 'New Client', new_client_path %>
