<%- title "Clients" %>
<%- back_link_url root_path %>
<%- page_title "Janitek | Clients" %>

<% content_for :search do %>
  <%= form_tag(clients_path, class:"form-inline", method: :get) do %>
    <div class="form-group">
      <%= label_tag(:name, "Client Name", class:"visible-sr, visible-sm, visible-xs") %>
      <%= text_field_tag('name', @name, class:'form-control') %>
    </div>
    <div class='form-group'>
      <%= submit_tag 'Search', class:'btn-info btn' %>
    </div>
  <% end %>
<% end %>

<div id='add-item-control'>
  <%= link_to 'Add Client', new_client_path, class:'btn btn-success' %>
</div>

<div id="client-index-list">
  <div class='row'>
  <% for idx in (1..@clients.size) %>
      <div class='col-md-3'>
        <div class='list-button'>
          <%= link_to @clients[idx-1].name, @clients[idx-1] %>
        </div>
      </div>
    <% if idx%4==0 %>
      </div>
      <div class='row'>
    <% end %>
  <% end %>
  </div>
</div>

<div class='pagination-div'>
  <div class="page_info">
    <%= page_entries_info @posts %>
  </div>
  <%= will_paginate @clients %>
</div>