<%- title "Clients" %>
<%- page_title "Janitek | Clients" %>

<%= form_tag(clients_path, class:"form-inline", method: :get) do %>
  <div class="form-group">
    <%= label_tag(:name, "Client Name", class:"sr-only") %>
    <%= text_field_tag('name', @name, class:'form-control') %>
  </div>
  <div class='form-group'>
    <%= submit_tag 'Search', class:'btn-info btn' %>
  </div>
<% end %>

<div class='pagination-div'>
  <div class="page_info">
    <%= page_entries_info @posts %>
  </div>
  <%= will_paginate @clients %>
</div>
<div id="client-index-list">
  <% for idx in (1..@clients.size) %>
    <% if idx%4==1 %>
      <div class='row'>
    <% end %>
      <div class='col-md-3'><%= link_to @clients[idx-1].name, @clients[idx-1] %></div>
    <% if idx%4==0 %>
      </div>
    <% end %>
  <% end %>
</div>

<br>

<%= link_to 'Add Client', new_client_path, class:'btn btn-success' %>
