<h1>New Contract</h1>

<%= form_for @link, {url:client_create_contract_path(@client)} do |f| %>
  <% if @link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@link.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @link.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<%= link_to 'Back', client_path(@client) %>
