<%- page_title "Janitek | Client" %>

<div class='row'>
  <div class="col-md-12 edit-button-wrapper">
    <%= link_to 'Edit', edit_client_path(@client), class: "btn btn-success"%>
  </div>
</div>

<div class="row logo-wrapper-small">
  <div class='col-md-12'>
    <% if @client.logo.file? %>
      <%= image_tag @client.logo.url(:profile) %>
    <% end %>
  </div>
</div>

<div class='row identity-info'>
  <div class='col-md-12'>
    <div class='row'>
      <div class='col-md-12'>
        <h1><%= @client.name %></h1>
        <table>
          <tbody>
            <tr>
              <td>Phone Number:</td>
              <td class="client-number"><%= @client.number %></td>
            </tr>
            <tr>
              <td>Email:</td>
              <td class="client-email"><%= @client.email %></td>
            </tr>
            <% if @client.staff %>
            <tr>
              <td>Janitorial Lead:</td>
              <td class="client-lead"><%= link_to @client.staff.full_name, @client.staff %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class='col-md-6 logo-wrapper'>
    <% if @client.logo.file? %>
      <%= image_tag @client.logo.url(:profile) %>
    <% end %>
  </div>
</div>

<div class='row client-links-wrapper'>
  <div class='col-md-4 list-element'>
    <div class="list-element-inside">
      <h3>Contracts</h3>
      <div class="col-button-wrapper">
        <%= link_to 'Add New', new_client_contract_path(@client), class:'btn btn-primary btn-xs' %>
      </div>
      <ul class="list-wrapper">
      <% @contracts.each do |contract| %>
        <li>
          <%= link_to contract.created_at.strftime("%b %d, %Y"),client_contract_path(@client, contract), class: 'btn btn-default' %>
        </li>
      <% end %>
      </ul>
    </div>
  </div>

  <div class='col-md-4 list-element'>
    <div class="list-element-inside">
      <h3>Task Schedule</h3>
      <div class="col-button-wrapper">
      <%= link_to 'Add New', new_client_schedule_path(@client), class:'btn btn-primary btn-xs' %>
      </div>
      <ul class="list-wrapper">
      <% @schedules.each do |contract| %>
        <li>
          <%= link_to contract.created_at.strftime("%b %d, %Y"),contract.url_to_use, :target=>'_blank', class: 'btn btn-default' %>
        </li>
      <% end %>
      </ul>
    </div>
  </div>
  
  <div class='col-md-4 list-element'>
    <div class="list-element-inside">
      <h3>Hot Button List</h3>
      <div class="col-button-wrapper">
        <%= link_to 'Edit', client_edit_hotbutton_path(@client), class:'btn btn-primary btn-xs' %>
      </div>
      <ol class="list-wrapper">
        <% @client.hot_button_items.each do |item| %>
          <li>
            <%= item %>
          </li>
        <% end %>
      </ol>
    </div>
  </div>
</div>
<h2>Members</h2>
<div class='row'>
  <% @client.members.each do |member| %>
    <div class="col-md-3">
    <%= link_to member.full_name, client_member_path(@client,member), class:'btn btn-primary' %>
    </div>
  <% end %>
</div>
<div class="row new-member-wrapper">
  <div class="col-md-4">
    <%= link_to 'Add New', new_client_member_path(@client), class:'btn btn-success'  %>
  </div>
</div>