<%- page_title "Janitek | Client" %>

<div class='row identity-info'>
  <div class='col-md-6 col-md-push-3'>
    <div class='row'>
      <div class='col-md-12'>
        <h1><%= @client.name %></h1>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-5'>
        <p><%= @client.number %></p>
      </div>
      <div class='col-md-6'>
        <p><%= @client.email %></p>
      </div>
      <div class='col-md-1'>
        <p><%= link_to 'Edit', edit_client_path(@client) %> </p>
      </div>
    </div>
    <% if @client.staff %>
      <div class='row'>
        <p>Janitorial Lead: <%= link_to @client.staff.full_name, @client.staff %>.</p>
      </div>
    <% end %>
  </div>
  <div class='col-md-3 col-md-pull-6'>
    <% if @client.logo.file? %>
      <%= image_tag @client.logo.url(:profile) %>
    <% end %>
  </div>
</div>

<div class='row'>
  <div class='col-md-4'>
    <h3>Contracts</h3>
    <%= link_to 'Add New', new_client_contract_path(@client) %>
    <ul>
    <% @contracts.each do |contract| %>
      <li><%= link_to contract.created_at.strftime("%b %d, %Y"),client_contract_path(@client, contract) %></li>
    <% end %>
    </ul>
  </div>

  <div class='col-md-4'>
    <h3>Task Schedule</h3>
    <%= link_to 'Add New', new_client_schedule_path(@client) %>
    <ul>
    <% @schedules.each do |contract| %>
      <li><%= link_to contract.created_at.strftime("%b %d, %Y"),contract.url_to_use, :target=>'_blank' %></li>
    <% end %>
    </ul>
  </div>
  
  <div class='col-md-4'>
    <h3>Hot Button List</h3>
    <ol>
      <% @client.hot_button_items.each do |item| %>
        <li><%= item %>
      <% end %>
    </ol>
    <%= link_to 'Edit', client_edit_hotbutton_path(@client)%>
  </div>
</div>
<h2>Members</h2>
<div class='row'>
  <% @client.members.each do |member| %>
  <%= link_to member.full_name, client_member_path(@client,member) %>
  <% end %>
</div>
<div>
  <%= link_to 'Add Member', new_client_member_path(@client) %>
</div>
