<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Service Request from <%= @member.full_name %></h1>
    <p><%= @member.full_name %>, a member of client <%= @member.client.name %>, has filled out the service request form with the following data:</p>

    <ul>
      <% (0..@service_request.fields.count-1).each do |index| %>
        <% field=@service_request.fields[index] %>
        <% fieldValue=@fields[index.to_s] %>
        <li>
          <%= field['title'] %>: 
            <% if field['type'] == 'checkbox' %>
              <%= (fieldValue.nil? && fieldValue)? 'yes' : 'no' %>
            <% elsif field['type'] == 'shortText' %>
              <%= fieldValue %>
            <% elsif field['type'] == 'longText' %>
              <br>
              <pre><%= fieldValue %></pre>
            <% end %>
        </li>
      <% end %>
    </ul>
  </body>
</html>