<%- title "Janitek Client Connect" %>
<%- page_title "Janitek" %>

<div class='row' id='client_root'>
  <div class='col-md-6'>
    <h2>
      <% if current_user.client.contracts.last %>
        <%= link_to 'Contract', client_contract_path(current_user.client, current_user.client.contracts.last), class: 'btn btn-primary btn-command' %>
      <% else %>
        <div class="btn btn-primary btn-command disabled">Contract</div>
      <% end %>
    </h2>
  </div>
  <div class='col-md-6'>
    <h2>
      <% if current_user.client.schedules.last %>
        <%= link_to 'Scope of Work', client_schedule_path(current_user.client, current_user.client.schedules.last), class: 'btn btn-primary btn-command' %>
      <% else %>
        <div class="btn btn-primary btn-command disabled">Scope of Work</div>
      <% end %>
    </h2>
  </div>
  <div class='col-md-6'>
    <h2><a href="mailto:ron@rtest.test" target="_blank" class='btn btn-primary btn-command'>Service Request</a></h2>
  </div>
  <div class='col-md-6'>
    <h2><%= link_to 'Contact Us', contact_us_path, class: 'btn btn-primary btn-command' %></h2>
  </div>
</div>
<div class='row'>
  <div class='col-md-6 col-md-push-3'>
    <h2><%= link_to 'Profile', client_path(@client), class: 'btn btn-primary btn-command' %></h2>
  </div>
</div>

<% if current_user.client.staff %>
  <hr>
  <div class='row'>
    <div class='user_profile col-sm-4 col-sm-push-4'>
      <% if @staff.avatar.file? %>
        <div class='avatar'>
          <%= image_tag @staff.avatar.url(:profile), :class=>'profile_image' %>
        </div>
      <% end %>
      <div>
        <h1><%= @staff.full_name %> </h1>
      </div>
      <div>
        <h3><%= @staff.email %> </h3>
      </div>
      <div>
        <%= markdown(@staff.description).html_safe if @staff.description%>
      </div>
    </div>
  </div>
<% end %>
