<%- title "Janitek Client Connect" %>
<%- page_title "Janitek" %>

<div class='row' id='client_root'>
  <div class='col-md-4' id="client-col-left">
    <%=render 'root/clientlead' %>
  </div>
  <div class='col-md-8' id="client-col-right">
    <div class="row">
      <!-- Service Contract -->
      <div class="col-md-6">
        <div class='widget <% if !current_user.client.contracts.last %> disabled <% end %>' id='widget-service-contract'>
          <% if current_user.client.contracts.last %>
            <%= link_to(client_contract_path(current_user.client, current_user.client.contracts.last)) do %>
              <div class='overlay'></div>
              <div class='widget-header'>
                <div class='widget-icon'>
                  <img src="<%= asset_path('icons/icon-service-contract.png') %>">
                </div><div class='widget-title'>
                  My Service Contract
                </div>
              </div>
              <div class='widget-content'></div>
            <% end %>
          <% else %>
            <div class='overlay'></div>
            <div class='widget-header'>
              <div class='widget-icon'>
                <img src="<%= asset_path('icons/icon-service-contract.png') %>">
              </div><div class='widget-title'>
                My Service Contract
              </div>
            </div>
            <div class='widget-content'></div>
          <% end %>
        </div>
      </div>
      <!-- Task List and Hot Buttons -->
      <div class="col-md-6">
        <div class='widget' id='widget-tasks'>
          <%= link_to(client_edit_hotbutton_path(@client)) do %>
            <div class='overlay'></div>
            <div class='widget-header'>
              <div class='widget-icon'>
                <img src="<%= asset_path('icons/icon-tasks.png') %>">
              </div><div class='widget-title'>
                My Task List + Hot Buttons
              </div>
            </div>
            <div class='widget-content'></div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- Service Request -->
      <div class="col-md-6">
        <div class='widget' id='widget-service-request'>
          <%= link_to(service_request_path) do %>
          <div class='overlay'></div>
          <div class='widget-header'>
            <div class='widget-icon'>
              <img src="<%= asset_path('icons/icon-service-request.png') %>">
            </div><div class='widget-title'>
              Submit a Service Request
            </div>
          </div>
          <div class='widget-content'></div>
          <% end %>
        </div>
      </div>
      <!-- Business Profile -->
      <div class="col-md-6">
        <div class='widget' id='widget-business-profile'>
          <%= link_to(client_path(@client)) do %>
          <div class='overlay'></div>
          <div class='widget-header'>
            <div class='widget-icon'>
              <img src="<%= asset_path('icons/icon-business-card.png') %>">
            </div><div class='widget-title'>
              My Business Profile
            </div>
          </div>
          <div class='widget-content'></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /#client_root-->