<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><span class='hiddentext'>Janitek</span></a>
      
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li>
            <span id='logged_in_user'>
              <% if current_user.class==Staff %>
                Welcome back, <%= link_to current_user.first_name, current_user %>
              <% else %>
                Welcome back to<br>client connect, <%= link_to current_user.first_name, [current_user.client,current_user] %>
              <% end %>
            </span>
          </li>
          <li> 
            <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
          </li>
        <% else %>
          <li><%= link_to('Login', new_user_session_path)  %></li>
        <% end %>
      </ul>
      
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
          <% if current_user.class == Member %>
            <!-- <li class="active"><a href="#">Home</a></li>
            <li><%= link_to("Contact",'/')%></li> -->
          <% else %>
            <li <% if ['clients','members','contracts','schedules'].include? params[:controller] %>class="active"<% end %>>
              <%= link_to('Clients',clients_path)%>
            </li>
            <li <% if params[:controller]=='staff' %>class="active"<% end %>>
              <%= link_to('Staff',staff_index_path)%>
            </li>
            <li <% if params[:controller]=='service_request' %>class="active"<% end %>>
              <%= link_to('Edit Service Request Form',service_request_edit_path)%>
            </li>
          <% end %>  
        <% end %>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>