<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title><%= content_for?(:page_title) ? content_for(:page_title) : "Janitek" %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/navbar' %>

<div class="container">
  <% if content_for?(:title) %>
    <h1> <%= content_for(:title) %></h1>
  <% end %>
  <div class='row breadcrumbs-bar'>
    <div class='col-xs-4'>
      <%= render_breadcrumbs %>
    </div>
    <% if content_for?(:search) %>
    <div class='searchbox col-xs-8'>
      <%= content_for(:search) %>
    </div>
    <% end %>
  </div>
  <% if notice %><p class="notice"><%= notice %></p><% end %>
  <% if alert %><p class="alert"><%= alert %></p><% end %>

  <%= yield %>
</div>
</body>
</html>
