<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title><%= content_for?(:page_title) ? content_for(:page_title) : "Janitek" %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" id="Google-Font-Droid+Serif-css" href="//fonts.googleapis.com/css?family=Droid+Serif%3A100%2C200%2C300%2C500%2C700%2Cn%2Ci%2Cb%2Cbi&amp;subset=latin&amp;ver=4.0.1" type="text/css" media="all">
  <link rel="stylesheet" id="Google-Font-Raleway-css" href="//fonts.googleapis.com/css?family=Raleway%3A100%2C200%2C300%2C500%2C700%2Cn%2Ci%2Cb%2Cbi&amp;subset=latin&amp;ver=4.0.1" type="text/css" media="all">
    
  <link rel="apple-touch-icon" sizes="57x57" href="<%= asset_path('apple-icon-57x57.png') %>">
  <link rel="apple-touch-icon" sizes="60x60" href="<%= asset_path('apple-icon-60x60.png') %>">
  <link rel="apple-touch-icon" sizes="72x72" href="<%= asset_path('apple-icon-72x72.png') %>">
  <link rel="apple-touch-icon" sizes="76x76" href="<%= asset_path('apple-icon-76x76.png') %>">
  <link rel="apple-touch-icon" sizes="114x114" href="<%= asset_path('apple-icon-114x114.png') %>">
  <link rel="apple-touch-icon" sizes="120x120" href="<%= asset_path('apple-icon-120x120.png') %>">
  <link rel="apple-touch-icon" sizes="144x144" href="<%= asset_path('apple-icon-144x144.png') %>">
  <link rel="apple-touch-icon" sizes="152x152" href="<%= asset_path('apple-icon-152x152.png') %>">
  <link rel="apple-touch-icon" sizes="180x180" href="<%= asset_path('apple-icon-180x180.png') %>">
  <link rel="icon" type="image/png" sizes="192x192"  href="<%= asset_path('android-icon-192x192.png') %>">
  <link rel="icon" type="image/png" sizes="32x32" href="<%= asset_path('favicon-32x32.png') %>">
  <link rel="icon" type="image/png" sizes="96x96" href="<%= asset_path('favicon-96x96.png') %>">
  <link rel="icon" type="image/png" sizes="16x16" href="<%= asset_path('favicon-16x16.png') %>">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="<%= asset_path('ms-icon-144x144.png') %>">
  <meta name="theme-color" content="#ffffff">
</head>
<body>
<div class="main-container <%= content_for?(:page_class) ? content_for(:page_class) : "main-page" %>">
  <div class="header-overlay-right" style="opacity: 1;"></div>
<%= render 'layouts/navbar' %>
  <div class="body-container container">
    <% if content_for?(:title) %>
      <div class="row header-title-section">
        <h1 class="page-header-title">
          <%= content_for(:title) %>
        </h1>
        <a class="page-back" href="/">
          &laquo; Back
        </a>
        <div class="page-header-gimmick"></div>
        <br style="clear:both;">
      </div>
    <% end %>
    <% if content_for?(:search) || breadcrumbs.any? %>
      <div class='row breadcrumbs-bar'>
        <div class='col-md-4 breadcrumb-details'>
          <%= render_breadcrumbs %>
        </div>
        <% if content_for?(:search) %>
        <div class='searchbox col-xs-8'>
          <%= content_for(:search) %>
        </div>
        <% end %>
      </div>
    <% end %>
    <% if notice %><p class="notice"><%= notice %></p><% end %>
    <% if alert %><p class="alert"><%= alert %></p><% end %>
  
    <%= yield %>
  </div>
  <%= render 'layouts/footer' %>
</div>
</body>
</html>
