<%= form_for([@client,@member]) do |f| %>
  <% if @member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
      <% @member.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <%= f.label :email %><br>
          <%= f.text_field :email, class:"form-control" %>
        </div>
      
        <div class="form-group">
          <%= f.label :first_name %><br>
          <%= f.text_field :first_name, class:"form-control" %>
        </div>
      
        <div class="form-group">
          <%= f.label :last_name %><br>
          <%= f.text_field :last_name, class:"form-control" %>
        </div>
        
        <div class="form-group">
          <%= f.label :title %><br>
          <%= f.text_field :title, class:"form-control" %>
        </div>
        
        <div class="form-group">
          <%= f.label :office %><br>
          <%= f.text_field :office, class:"form-control" %>
        </div>
          
        <div class="form-group">
          <%= f.label :cell %><br>
          <%= f.text_field :cell, class:"form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :avatar %><br />
          <%= f.file_field :avatar, class:"form-control" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
      <% if @member.persisted? && (current_user==@member) %>
        <div class="form-group">
          <%= f.label :current_password %><br>
          <%= f.password_field :current_password, class:"form-control" %>
        </div>
      <% end %>
      </div>
      <% if !@member.persisted? || current_user==@member || (current_user.is_a? Staff) %>
      <div class="col-md-12">
        <div class="form-group">
          <%= f.label :password %><br>
          <%= f.password_field :password, class:"form-control" %>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <%= f.label :password_confirmation %><br>
          <%= f.password_field :password_confirmation, class:"form-control" %>
        </div>
      </div>
      <% end %>
      <div class="col-md-12">
        <div class="form-group">
          <%= f.submit class:"btn btn-primary" %>
          <% if @client.persisted? %>
            <%= link_to "Cancel", [@client,@member], class:'btn btn-danger' %>
          <% else %>
            <%= link_to "Cancel", @client, class:'btn btn-danger' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
