<%- page_title "Janitek | Member" %>
<div class='user_profile'>
  <div>
    <% if @member.avatar.file? %>
    <%= image_tag @member.avatar.url(:profile), :class=>'profile_image' %>
    <% end %>
  </div>
  <div>
    <h1><%= @member.full_name %> </h1>
  </div>
  <div>
    <h3><%= @member.email %> </h3>
  </div>
</div>

<%= link_to 'Edit', edit_client_member_path(@client,@member) %> |
<%= link_to "Log", log_client_member_path(@client,@member) %>
